.button {
  width: 220px;
  height: 54px;
  background-color: var(--accent_color);
  border: none;
  outline: none;
  border-radius: 16px;

  font-size: 16px;
  font-weight: 500;
  color: var(--main_bg_color);
}
