.toTopBtnHidden,
.toTopBtn {
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 64px;
  height: 64px;
  background: none;
  outline: none;
  border: none;
  z-index: 2;
  transition-duration: 500ms;

  & svg {
    // fill: rgba(255, 255, 255, 0.238);
    fill: var(--accent_color);
    // stroke: var(--dark_fonf_color);
    width: 64px;
    height: 64px;
    transition-duration: 500ms;
  }
  &:hover,
  &:focus {
    scale: 1.1;
    filter: brightness(1.1);
  }
}

.toTopBtnHidden {
  bottom: -100px;
}
