.modalContent {
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: var(--main_bg_color);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  //   transform: translateX(100%);
  //   transform: rotate(0);
  // scale: 0;
  cursor: auto;

  @media screen and (min-width: 769px) {
    padding: 30px;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 32px;
    height: 628px;
  }

  @media screen and (max-height: 768px) {
    scale: 0.8;
  }
}

.iconArchitrave {
  display: none;
  width: 222px;
  height: 222px;
  border-radius: 50%;
  background-color: var(--modal_bg_color);
  position: absolute;
  top: -133px;
  left: -133px;
  &::after {
    content: "";
    display: block;
    width: 222px;
    height: 222px;
    border-radius: 50%;
    background-color: var(--main_bg_color);
    position: absolute;
    top: -42px;
    left: -42px;
  }
  @media screen and (min-width: 769px) {
    display: block;
    width: 666px;
    height: 666px;
    top: -393px;
    left: -393px;
    &::after {
      width: 666px;
      height: 666px;
      top: -114px;
      left: -114px;
    }
  }
}

.logo {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  left: 16px;
  fill: var(--accent_color);
  @media screen and (min-width: 769px) {
    display: block;
    width: 60px;
    height: 60px;
    top: 81px;
    left: 73px;
  }
}

.iconCloseBlog {
  display: none;
  width: 108px;
  height: 108px;
  position: absolute;
  top: -48px;
  right: -48px;
  background-color: var(--modal_bg_color);
  border-radius: 50%;

  @media screen and (min-width: 769px) {
    display: block;
    width: 158px;
    height: 158px;
    top: -68px;
    right: -68px;
  }
}

.btnClose {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 16px;
  @media screen and (min-width: 768px) {
    top: 20px;
    right: 25px;
  }
}

.close {
  width: 20px;
  height: 20px;
  @media screen and (min-width: 768px) {
    width: 35px;
    height: 35px;
  }
}

.contactsContainer {
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 8px;

  @media screen and (min-width: 769px) {
    row-gap: 32px;
    margin-top: 285px;
    margin-right: 73px;
  }
}

.text {
  color: var(--dark_fonf_color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.32px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}

.contactsAdress {
  color: var(--dark_fonf_color);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    color: var(--accent_color);
    // stroke: currentColor;
    fill: transparent;
    fill: currentColor;
  }
}

.icon {
  width: 12px;
  height: 12px;
  // fill: currentColor;
  fill: transparent;
  stroke: currentColor;

  margin-right: 16px;
  &:last-child {
    stroke-width: 3;
  }
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
