.about {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    width: 1440px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.aboutTitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
  text-align: center;
  color: var(--dark_fonf_color);
  margin-bottom: 24px;
  min-width: 64px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 1.92px;
    margin-bottom: 40px;

    @media screen and (min-width: 1224px) {
      text-align: start;
      letter-spacing: 1.92px;
    }
  }
}

.aboutContent {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    @media screen and (min-width: 1224px) {
      display: flex;
      flex-direction: row;
    }
  }
}

.aboutText {
  text-align: justify;
  color: var(--dark_fonf_color);
  font-size: 12px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.66px;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.32px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 1224px) {
    &:not(:last-child) {
      margin-right: 105px;
    }
  }
}
.aboutTextItem {
  max-width: 390px;
  @media screen and (min-width: 768px) {
    max-width: 752px;
  }
  @media screen and (min-width: 1224px) {
    max-width: 493px;
  }
}
.aboutTextPosition {
  max-width: 390px;
  @media screen and (min-width: 768px) {
    max-width: 752px;
  }

  @media screen and (min-width: 1224px) {
    max-width: 100%;
  }
}

.aboutImgContainer {
  width: 360px;
  height: 327px;
  position: relative;

  border-radius: 24px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media screen and (max-width: 425px) {
    width: 90%;
  }

  @media screen and (min-width: 768px) {
    width: 580px;
    height: 602px;
  }
}

.aboutImg {
  object-fit: cover;
}
