.modalWrapper,
.modalWrapperVisible {
  width: 100vw;
  height: 100vh;
  // width: 100%;
  // height: 100%;
  z-index: 100;
  position: fixed;
  top: 90px;

  display: none;
  align-items: center;
  justify-content: center;
}

.modalWrapperVisible {
  display: flex;
}

.backDrop {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition-duration: 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.backDropVisible {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.493);
}
