.hero {
  height: 290px;
  width: 100%;
  position: relative;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  background-image: linear-gradient(
      0deg,
      rgba(22, 22, 22, 0.4) 0%,
      rgba(22, 22, 22, 0.4) 100%
    ),
    url("../../../public/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;

  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 800px;
  }
}

.heroContainer {
  margin: 0 auto;
  align-items: center;
}

.heroContent {
  width: 154px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 79px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    width: 459px;
    row-gap: 104px;
    margin-top: 177px;
  }
}
.heroTitle {
  position: relative;

  color: var(--main_bg_color);
  text-align: center;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-box-reflect: below -2px linear-gradient(transparent, #0002);
  top: 100px;

  animation: heroTitle 1s linear 0s 1 normal forwards;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 0.96px;
    top: 200px;
  }

  & span {
    font-weight: bolder;
    font-size: 20px;
    @media screen and (min-width: 768px) {
      font-size: 64px;
      letter-spacing: 0.96px;
    }
  }
}
@keyframes heroTitle {
  0% {
    scale: 0;
    filter: brightness(0.2);
    text-shadow: 0px 0px 1px #ffffff, 0px 0px 1px #000;
  }
  80% {
    top: 50px;
    scale: 1.5;
    filter: brightness(2);
    text-shadow: 0px 0px 4px #ffffff, 0px 0px 1px #000;
  }
  100% {
    top: 0px;
    scale: 1;
    filter: brightness(1);
    text-shadow: 0px 0px 2px #ffffff, 0px 0px 1px #000;
  }
}

.heroTextWrapper {
  overflow: hidden;
  // width: 100px;
  height: min-content;
  border-right: 2px solid white;
  animation: qwe 6s steps(23) 1s forwards;
  width: 127px;
  opacity: 0;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}
@keyframes qwe {
  0% {
    opacity: 1;
    width: 0%;
  }
  99% {
    border-right: 2px solid white;
  }
  100% {
    opacity: 1;

    width: 100%;
    border-right: none;
  }
}

.heroText {
  color: var(--main_bg_color);
  text-shadow: 2px 2px 21px rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
  width: 127px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    letter-spacing: -0.64px;
    width: 336px;
  }
}

.heroItem {
  color: var(--accent_color);
  text-transform: uppercase;
}

.heroBtn {
  opacity: 0;
  animation: heroBtn 1s linear 4s normal forwards;
}

@keyframes heroBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// .loader {
//   position: relative;
// }
// .loader::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100%;
//   width: 2px;
//   height: 100%;
//   background: aqua;
//   animation: cursor 0.8s steps(3) infinite, des 10s linear forwards;
// }
// @keyframes cursor {
//   0%,
//   50% {
//     opacity: 1;
//   }
//   51%,
//   100% {
//     opacity: 0;
//   }
// }

// @keyframes des {
//   0% {
//     display: inline-block;
//   }
//   99% {
//     display: inline-block;
//   }
//   100% {
//     display: none;
//   }
// }

// .loader h2 {
//   position: relative;
//   color: aqua;
//   text-transform: uppercase;
//   animation: typing 5s steps(10) forwards;
//   overflow: hidden;
// }

// @keyframes typing {
//   0% {
//     width: 0;
//   }

//   100% {
//     width: 110.86px;
//   }
// }
