.hero {
  height: 290px;
  width: 100%;
  position: relative;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  background-image: linear-gradient(
      0deg,
      rgba(22, 22, 22, 0.4) 0%,
      rgba(22, 22, 22, 0.4) 100%
    ),
    url('../../../public/heroBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;

  @media screen and (min-width: 768px) {
    height: 800px;
  }
}

.heroContainer {
  margin: 0 auto;
  align-items: center;
}

.heroContent {
  width: 154px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 79px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    width: 459px;
    row-gap: 104px;
    margin-top: 177px;
  }
}
.heroTitle {
  color: var(--main_bg_color);
  text-align: center;
  text-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 0.96px;
  }
}

.heroText {
  color: var(--main_bg_color);
  text-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    letter-spacing: -0.64px;
  }
}

.heroItem {
  color: var(--accent_color);
  text-transform: uppercase;
}

.heroBtn {
  width: 134px;
  height: 32px;
  color: #161616;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.66px;

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 54px;
    background-color: var(--accent_color);
    border: none;
    outline: none;
    border-radius: 16px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    color: var(--main_bg_color);
    letter-spacing: 0.88px;
  }
}
