.about {
  width: 1440px;
  height: 953px;
  margin: 0 auto;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.aboutTitle {
  text-align: center;
  color: #3e3e3e;
  font-family: KoHo;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    text-align: start;
    font-size: 48px;
    letter-spacing: 1.92px;
    margin-bottom: 40px;
  }
}

.aboutContent {
  align-items: center;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 40px;
  }
}

.aboutList {
  width: 328px;
  @media screen and (min-width: 768px) {
    width: 100%;
    &:not(:last-child) {
      width: 493px;
      margin-right: 105px;
    }
  }
}

.aboutText {
  color: #3e3e3e;
  font-family: KoHo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.66px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.32px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.aboutImgContainer {
  width: 360px;
  height: 327px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 580px;
    height: 602px;
  }
}

.aboutImg {
  object-fit: cover;
}
