.about {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    width: 1440px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.aboutTitle {
  text-align: center;
  color: var(--dark_fonf_color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 1.92px;
    margin-bottom: 40px;

    @media screen and (min-width: 1224px) {
      text-align: start;
      font-size: 48px;
      letter-spacing: 1.92px;
      margin-bottom: 40px;
    }
  }
}

.aboutContent {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    @media screen and (min-width: 1224px) {
      display: flex;
    }
  }
}

.aboutList {
  @media screen and (min-width: 1224px) {
    &:not(:last-child) {
      margin-right: 105px;
    }
  }
}

.aboutText {
  text-align: justify;
  color: var(--dark_fonf_color);
  font-size: 12px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.66px;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.32px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
.aboutTextItem {
  max-width: 390px;
  @media screen and (min-width: 768px) {
    max-width: 752px;

    @media screen and (min-width: 1224px) {
      max-width: 493px;
    }
  }
}
.aboutTextPosition {
  max-width: 390px;
  @media screen and (min-width: 768px) {
    max-width: 752px;
  }

  @media screen and (min-width: 1224px) {
    max-width: 100%;
  }
}

.aboutImgContainer {
  width: 360px;
  height: 327px;
  position: relative;
  margin: 0 auto;

  border-radius: 24px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 580px;
    height: 602px;
  }
}

.aboutImg {
  object-fit: cover;
}
