.backdrop {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.643);
  overflow-y: auto;
  z-index: 100;
  box-shadow: 1.294952630996704px 1.294952630996704px 12.949525833129883px 0px
    rgba(0, 0, 0, 0.25);

  padding: 24px;
  cursor: pointer;
}

.modal {
  width: 821px;
  border-radius: 32px;
  background-color: var(--main_bg_color);
  overflow: hidden;
  position: relative;
  cursor: auto;
  border: none;
}

.modalContent {
  padding: 70px 16px 16px 16px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 592px;
    flex-direction: row;
    padding: 27px 16px;
    align-items: flex-start;
  }
}

.iconArchitrave {
  width: 222px;
  height: 222px;
  border-radius: 50%;
  background-color: var(--modal_bg_color);
  position: absolute;
  top: -133px;
  left: -133px;
  &::after {
    content: '';
    display: block;
    width: 222px;
    height: 222px;
    border-radius: 50%;
    background-color: var(--main_bg_color);
    position: absolute;
    top: -42px;
    left: -42px;
  }
  @media screen and (min-width: 768px) {
    width: 666px;
    height: 666px;
    top: -393px;
    left: -393px;
    &::after {
      width: 666px;
      height: 666px;
      top: -114px;
      left: -114px;
    }
  }
}

.logo {
  width: 30px;
  position: absolute;
  top: 8px;
  left: 16px;
  @media screen and (min-width: 768px) {
    width: 60px;
    top: 81px;
    left: 73px;
  }
}

.iconCloseBlog {
  width: 108px;
  height: 108px;
  position: absolute;
  top: -48px;
  right: -48px;
  background-color: var(--modal_bg_color);
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 158px;
    height: 158px;
    top: -68px;
    right: -68px;
  }
}

.btnClose {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 16px;
  @media screen and (min-width: 768px) {
    top: 20px;
    right: 25px;
  }
}

.close {
  width: 20px;
  @media screen and (min-width: 768px) {
    width: 35px;
  }
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 8px;
  @media screen and (min-width: 768px) {
    row-gap: 32px;
    margin-top: 285px;
    margin-right: 73px;
  }
}

.text {
  color: var(--dark_fonf_color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.32px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}

.contacts {
  display: flex;
  align-items: center;
}

.contactsIcon {
  margin-right: 16px;
}

.icon {
  width: 12px;
  @media screen and (min-width: 768px) {
    width: 20px;
  }
}

.contactsAdress {
  color: var(--dark_fonf_color);
  font-size: 12px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    color: var(--accent_color);
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 399px;
  @media screen and (min-width: 768px) {
    width: 399px;
  }
}

.label {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;

  color: var(--modal_text_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.32px;
  }
  &:hover,
  &:focus {
    color: var(--accent_color);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.input {
  width: 255px;
  color: var(--modal_text_color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.32px;
  padding: 4px 6px;
  border-radius: 6px;
  border: 1.295px solid var(--main_bg_color);
  background-color: var(--main_bg_color);
  box-shadow: 1.29px 1.29px 13px 0px rgba(0, 0, 0, 0.25);
  margin-top: 4px;
  outline: none;
  &::placeholder {
    color: #9a9a9a;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.88px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.88px;
    padding: 13px 15px;
    margin-top: 8px;
    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.88px;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 1.294952630996704px 1.294952630996704px 12.949525833129883px 0px
      rgba(251, 174, 7, 0.25);
  }
}

.textarea {
  max-height: 100px;
  margin-bottom: 16px;
  resize: none;
  @media screen and (min-width: 768px) {
    max-height: 120px;
    margin-bottom: 24px;
  }
}

.btn {
  color: var(--main_bg_color);
  font-size: 12px;
  letter-spacing: 1.14px;
  border-radius: 32px;
  border: none;
  background: var(--modal_bg_color);
  padding: 12px 20px;
  margin: 0px auto 16px auto;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 255px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.14px;
    padding: 20px 31px;
    margin: 0;
  }

  &:hover,
  &:focus {
    color: var(--modal_bg_color);
    background-color: var(--accent_color);
  }
}
