:root {
  --main_bg_color: #ffffff;
  --dark_fonf_color: #3e3e3e;
  --light_fonf_color: #ffffff;
  --accent_color: #fca311;
  --header_bg_color: #171717;
  --footer_bg_color: #8d8d8d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 1s;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: inherit;
}

section {
  padding: 0px 16px;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0px 130px;
  }
}

a {
  text-decoration: none;
  color: var(--dark_fonf_color);
}

ul {
  list-style: none;
}
