:root {
  --main_bg_color: #ffffff;
  --dark_fonf_color: #3e3e3e;
  --light_fonf_color: #ffffff;
  --accent_color: #fca311;
  --header_bg_color: #171717;
  --footer_bg_color: #8d8d8d;
  --contact_bg_color: #343332;
  --modal_bg_color: #020b11;
  --modal_text_color: #474747;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 500ms;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  width: inherit;
  max-width: inherit;
}

footer {
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-x: hidden;
}

section {
  padding: 0px 130px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding: 0px 16px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--dark_fonf_color);
}

ul {
  list-style: none;
}
