.mobileMenu {
  width: 32px;
  height: 32px;
  @media screen and (max-width: 768px) {
    width: 16px;
    height: 16px;
  }
  @media screen and (min-width: 901px) {
    display: none;
  }

  &:hover,
  &:focus {
    transform: rotate(90deg);
    scale: 1.2;
    filter: brightness(2);
  }
}

.menuBtnOn {
  transform: rotate(90deg);
}
