.footer {
  background-color: var(--contact_bg_color);
  padding: 12px;
  text-align: center;

  -webkit-box-shadow: 0px -1px 0px 0px rgba(141, 141, 141, 0.3);
  -moz-box-shadow: 0px -1px 0px 0px rgba(141, 141, 141, 0.3);
  box-shadow: 0px -1px 0px 0px rgba(141, 141, 141, 0.3);

  & a {
    font-size: clamp(16px, 3vw, 32px);
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      -225deg,
      #d7e9b9,
      #fffbac,
      #ffd495,
      #faab78,
      #ffd495,
      #fffbac
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
